@page
@model IndexModel
@{
    ViewData["Title"] = "DD Admin";
}

<div class="container">
    <form method="post">
        <ul class="list-group">
            @foreach (var schoolCreateRequest in Model.SchoolCreateRequests)
            {
                <li class="list-group-item">
                    <b>School: </b>@schoolCreateRequest.SchoolName in @schoolCreateRequest.City from @schoolCreateRequest.CreatorEmail
                    <br/>
                    <button class="btn btn-success" type="submit" name="approveButton" value="@schoolCreateRequest.Id">
                        Approve
                    </button>
                    <button class="btn btn-danger" type="submit" name="rejectButton" value="@schoolCreateRequest.Id">
                        Reject
                    </button>
                </li>
            }
        </ul>
    </form>
</div>